<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../../stylesheets/style.css" type="text/css" rel="stylesheet"/>
    <title></title>
</head>
<body style="margin: 10px;">
    <h1 style="text-align: center;width: 98%; margin: auto;border-bottom: 1px dotted #22396f;">Results Entry</h1>
		<div style="width:98%; margin: auto;height: 90vh; border-bottom: 1px solid #22396f;">
		&nbsp;
			<table style="width: 100%">
				<tr>
					<td id = 'test_ordered' style="width: 20%; font-size: 17px;">
						<div style="width: 100%;height:84vh; border: 1px solid darkgray;overflow: auto;">
							<table width="100%">
								<th style="width: 100%;padding: 4px; padding-left: 10px;border-bottom: 1px dotted gray;cursor: pointer">
									Test(s) Ordered
								</th>
								<tr>
									<td style="width: 100%;padding: 4px; padding-left: 10px;border: 1px dotted #22396f;cursor: pointer">
										Cell count
									<td>
								</tr>
								<tr>
									<td style="width: 100%;padding: 4px;padding-left: 10px;border: 1px dotted #22396f;cursor: pointer">
										Gram Stain
									<td>
								</tr>
								<tr>
									<td style="width: 100%;padding: 4px;padding-left: 10px;border: 1px dotted #22396f;cursor: pointer">
										Indian Ink
									<td>
								</tr>
							</table>
						</div>
					</td>
					<td style="width: 3%;">
						
					</td>
					<td style="border: 1px solid darkgray;">
						<table>
							<tr>
								<td  style="font-size:20px;">
											Result: 
											<select  style="font-size: 18px;">
												<option>select</option>
												<option>+++/Scanty</option>
												<option>Mass/Volume(g/L)</option>
											</select>
								</td>
								<td>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
</body>
</html>
